.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}
.gify__inp{
    position: absolute;
    z-index: 60;
    bottom: 110px;
    right: 100px;
    background-color: #474b53;
    padding:10px;
    border-radius: 5px;
}
.gify__inp:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid #474b53;
    border-left: 10px solid transparent;
    border-top: 10px solid #474b53;
    border-bottom: 10px solid transparent;
    right: 0px;
    bottom: -15px;
  }
.chat__input{
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: #474b53;
}
.chat__input>form>input{
    padding: 15px;
    background: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: white;
    font-size: large;
}
.chat__input>form{
    flex: 1;
}
.chat__inputButton{
    display: none;
}
.chat__inputIcons > .MuiSvgIcon-root{
    padding: 5px;
}
.chat__messages{
    flex: 1;
    overflow: auto;
}
.addIcon{
    font-size: larger;
    cursor: pointer;
}